.navbar-inverse {
    background-color: #222222;
    border-color: #090909;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.center {
    text-align: center;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert {
    color: white;
    background-color: red;
}

.pic, .info {
    padding: 20px;
    display: inline-block;
    background-color: #EEEEEE;
    border-radius: 7px;
    vertical-align: middle;
    margin: 10px;
}

.info {
    height: 290px;
    text-align: left;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}