<div class="container text-center" role="main">
  <h1>Welcome to the Amusement Park!</h1>
  <div class="theme-showcase" role="main">

    <div class="">
      <img src="http://www.washingtonpost.com/wp-srv/special/health/why-roller-coasters-make-us-scream/images/rollercoasterBackground.jpg" width="550" height="325">
    </div>

    <div class="">
      <div class="center">
        <a class="btn btn-primary" href="/signin">Sign in</a>
        <a class="btn btn-primary" href="/users/new">Sign up</a>
      </div>
    </div>

  </div>
</div>
