
<form  action="/attractions/<%= @attraction.id%>/update" method="post">
  <input type="text" name="attraction[name]" >
  <input type="text" name="attraction[tickets]">
  <input type="text" name="attraction[nausea_rating]">
  <input type="text" name="attraction[happiness_rating]">
  <input type="text" name="attraction[min_height]">
  <button type="submit" name="submit">Update Attraction</button>
</form>
